name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10 + Cache
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'pip'

      - name: Install Linting dependencies
        run: |
          pip install ruff

      - name: Run Linter (Ruff)
        run: |
          ruff check .
          ruff format --check .

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10 + Cache
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'pip'

      - name: Install Dependencies & Project
        run: |
          pip install pytest
          # pip install -e . est aussi accéléré car les dépendances sont en cache
          pip install -e .

      - name: Run Tests (Pytest)
        run: |
          pytest

  build:
    runs-on: ubuntu-latest
    needs: [lint, tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10 + Cache
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'pip'

      - name: Install Build tools
        run: |
          pip install build

      - name: Build Package
        run: |
          python -m build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package-dist
          path: dist/
